<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springcloud.dao.WorksDao">
    <resultMap id="worksMap" type="works">
        <id column="id" property="id"></id>
        <result column="createDate" property="createDate"/>
        <result column="workContent" property="workContent"/>
        <result column="itemId" property="itemId"/>
        <result column="empId" property="empId"/>
        <association property="username" column="empId" select="findNameById"/>
    </resultMap>
    <select id="findByDateAndItemId"  resultMap="worksMap">
        SELECT * FROM works WHERE createDate BETWEEN #{start} AND #{end}

        <if test="itemId!=null and itemId!= ''">
            and itemId = #{itemId}
        </if>
        order by id desc
    </select>

    <select id="findAll" resultType="Works">
        SELECT * FROM works
    </select>

    <insert id="addWorks" parameterType="Works">
        INSERT INTO works(createDate,workContent,empId,itemId) VALUES(#{createDate},#{workContent},#{empId},#{itemId})
    </insert>

    <select id="findByEmpId" resultType="Works" parameterType="Integer">
        SELECT * FROM works WHERE empId = #{empId}
    </select>

    <select id="findByEmpIdAndDateAndItemId" resultType="Works">
        SELECT * FROM works WHERE empId = #{empId} and createDate BETWEEN #{start} AND #{end}
        <if test="itemId!=null and itemId!= ''">
            and itemId = #{itemId}
        </if>
        order by id desc
    </select>

    <select id="findNameById" resultType="String" parameterType="integer">
        select qname from employee where id = #{empId}
    </select>
</mapper>
